html {
    background-color: black;
}

#content {
    display: block;
    margin-left: 2%;
}

#main {
    color: white;
}

#placeName {
    font-size: 3vh;
}

#map {
    width: 95vw; 
    height: 85vh;
    margin: auto;
}


#mapBtnsOutline {
    display: flex;
    margin-bottom: 2%;
}

.mapBtns {
    margin-right: 5px;
    font-size: 0.8vw;
}

.flyoutBtn {
    font-size: 0.8vw;
}

#dropdown-content {
    height: 5vh;
    width: 80%;
    display: none;
    position: absolute;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
}

.dropdown:hover #dropdown-content {
    display: inline-block;
}

.marker {
    width: 38px;
    height: 50px;
    background-image: url("images/marker.png");
    background-size: 100%;
}

.marker:hover {
    background-image: url("images/markerHover.png");
}