html {
    background-color: black;
}


#content {
    display: block;
    height: 18vh;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    position: relative;
}

#contentText {
    margin-top: 0;
}

.imgTextStyle {
    font-weight: normal;
}

#placeName {
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 2vh;
    height: 2vh;
}

.imageText {
    height: 1vh;
    font-size: 1.5vh;
    margin-top: 1vh;
    margin-bottom: 0;
}

#imageCoor {
    position: relative;
    width: 40vw;
}

#coorInfo {
    visibility: hidden;
    background-color: blue;
    font-weight: none;
    font-size: 1.2vh;
}

#imageCoor:hover #coorInfo {
    visibility: visible;
} 

#startBtn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 5vh;
}

#map {
    position: fixed;
    bottom: 0;
    border-top: 2px solid white;
    width: 99vw; 
    height: 80vh;
    z-index: -1;
}


#mapBtnsOutline {
    display: flex;
    border-top: 2px solid white;
    padding-top: 0.5%;
    position: absolute;
    bottom: 0;
    width: 95vw;
}

.mapBtns {
    width: 2vw;
    height: 2vw;
    background-color: black;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    text-align: center;
    color: white;
    background-color: darkblue;
    width: 6vw;
    font-size: 0.7vw;
    bottom: -2vh;
    left: -0.5vw;
}

#satBtn {
    position: relative;
}

#sat {
    background-image: url("images/satellite.png");
}


#satBtn:hover .tooltip {
    visibility: visible;
}

#standBtn {
    position: relative;
}

#stand {
    background-image: url("images/standard.png");
}



#standBtn:hover .tooltip {
    visibility: visible;
}

#switchBtn {
    position: relative;
}

#switch {
    background-image: url("images/switch.png");
    background-color: gray;
    pointer-events: none;
}

#switchBtn:hover .tooltip {
    visibility: visible;
}

#toggleView {
    position: relative;
}

#toggleViewBtn {
    background-image: url("images/view.png");
    background-color: white;
}

#toggleView:hover .tooltip {
    visibility: visible;
}

.flyoutBtn {
    font-size: 0.8vw;
    color: white;
    background-color: black;
    text-align: center;
    width: auto;
    margin-top: 5px;
    margin-right: 5px;
}

#dropdown {
    position: relative;
}

#dropbtn {
    background-image: url("images/marker.png");
    background-position: top;
}

#dropdown:hover .tooltip {
    visibility: visible;
    width: 3vw;
}

#dropdown-content {
    height: 2vw;
    width: 85vw;
    display: none;
    position: absolute;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    background-color: darkblue;
    bottom: 0;
    left: 2.2vw;
    margin-right: 2%;
}



.marker {
    width: 38px;
    height: 50px;
    background-image: url("images/marker.png");
    background-size: 100%;
}

.marker:hover {
    background-image: url("images/markerHover.png");
}

.switchText {
    font-size: 1vh;
    position: absolute;
    margin: auto;
}